# Multiple Linear Regression Lab : House Prices

### Overview
Estimate house prices using MLR

### Builds on
None

### Run time
approx. 20 minutes

### Notes

## Step 1 - Load Data

In [1]:
import os
import urllib.request

data_location = "house-sales-full.csv"
data_url = 'https://elephantscale-public.s3.amazonaws.com/data/house-prices/house-sales-full.csv'
#data_url = 'https://raw.githubusercontent.com/elephantscale/datasets/master/house-prices/house-sales-full.csv'

if not os.path.exists (data_location):
    data_location = os.path.basename(data_location)
    if not os.path.exists(data_location):
        print("Downloading : ", data_url)
        urllib.request.urlretrieve(data_url, data_location)
print('data_location:', data_location)

Downloading :  https://elephantscale-public.s3.amazonaws.com/data/house-prices/house-sales-full.csv
data_location: house-sales-full.csv

In [2]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

house_prices = pd.read_csv(data_location)
house_prices.sample(10)

,DocumentID,Date,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
8195,8196,1/30/07,340000,2610100030,Single Family,1/1/07,425600,0.98,"347,669.00",1,...,1.75,5,6,1947,0,0,163000,112000,98155,False
20658,20659,4/27/06,437500,7578200225,Single Family,4/1/06,396500,0.91,"480,202.00",1,...,1.75,3,7,1946,0,0,212000,188000,98116,False
7565,7566,5/19/06,378000,2473451090,Single Family,5/1/06,400600,0.92,"410,648.00",1,...,2.25,4,8,1979,0,0,113000,228000,98058,False
23534,23535,2/18/09,250000,8651440680,Single Family,2/1/09,374400,0.86,"290,598.00",1,...,1.00,4,7,1977,0,0,75000,145000,98042,False
22046,22047,10/16/06,375000,7896300660,Single Family,10/1/06,418300,0.96,"390,151.00",1,...,2.75,4,6,1950,0,2,113000,139000,98118,False
2160,2161,8/16/06,345000,869700510,Townhouse,8/1/06,411100,0.94,"365,225.00",1,...,2.50,2,8,1999,0,0,138000,141000,98059,False
24123,24124,6/9/06,645000,8701600110,Single Family,6/1/06,404400,0.93,"694,125.00",1,...,2.25,4,8,1930,0,0,212000,413000,98126,False
1962,1963,4/14/08,622888,809002999,Townhouse,4/1/08,411700,0.95,"658,443.00",1,...,2.50,3,8,2002,0,0,191000,383000,98109,False
13583,13584,9/26/06,255000,3996900665,Single Family,9/1/06,414800,0.95,"267,541.00",1,...,1.75,2,6,1948,0,1,155000,134000,98155,False
11181,11182,6/5/12,379000,3362401295,Single Family,6/1/12,322000,0.74,"512,239.00",1,...,1.75,2,7,1951,0,0,266000,277000,98103,False

## Step 2 - Explore Data (EDA)
EDA is a great way to get a sense of the data.  

Try to find answers to the following questions, by looking at the output of `describe` below

- How many 'max' bedrooms do we have? :-)
- Find min/max of 'SalePrice'
- Do you think we have outliers in data

In [3]:
## TODO use 'describe()' function to understand data
house_prices.describe()

,DocumentID,SalePrice,PropertyID,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode
count,"27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00","27,063.00"
mean,"13,532.00","511,626.20","4,680,324,882.08","390,750.58",0.90,"570,918.76",1.02,"10,997.68","2,122.96",275.30,2.26,3.38,7.78,"1,977.09",86.73,0.21,"213,820.07","317,211.67","82,223.04"
std,"7,812.56","342,821.17","2,896,350,979.15","37,024.46",0.09,"380,236.63",0.15,"28,110.66",939.84,428.71,0.77,0.90,1.18,30.92,407.32,0.55,"177,213.41","234,038.34","36,106.67"
min,1.00,"3,000.00","1,000,102.00","311,600.00",0.72,"3,368.00",1.00,494.00,370.00,0.00,0.00,0.00,3.00,"1,900.00",0.00,0.00,0.00,0.00,-1.00
25%,"6,766.50","329,000.00","2,213,000,057.50","357,100.00",0.82,"366,918.50",1.00,"4,257.50","1,440.00",0.00,1.75,3.00,7.00,"1,954.00",0.00,0.00,"105,000.00","183,000.00","98,019.00"
50%,"13,532.00","425,000.00","3,972,900,140.00","400,600.00",0.92,"475,664.00",1.00,"6,636.00","1,940.00",0.00,2.50,3.00,8.00,"1,986.00",0.00,0.00,"172,000.00","261,000.00","98,053.00"
75%,"20,297.50","590,000.00","7,504,001,385.00","421,200.00",0.97,"655,061.00",1.00,"9,450.00","2,610.00",510.00,2.50,4.00,8.00,"2,006.00",0.00,0.00,"258,000.00","380,000.00","98,115.00"
max,"27,063.00","11,000,000.00","9,906,000,035.00","435,200.00",1.00,"11,644,855.00",5.00,"1,024,068.00","10,740.00","3,500.00",8.00,33.00,13.00,"2,016.00","2,016.00",3.00,"5,538,000.00","5,772,000.00","98,354.00"

In [4]:
## any correlated columns?
## TODO : use 'corr' function to verify
house_prices.corr()

<ipython-input-4-dd107aecdaaa>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  house_prices.corr()

,DocumentID,SalePrice,PropertyID,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
DocumentID,1.00,-0.02,0.99,-0.02,-0.02,-0.02,-0.02,-0.11,-0.02,-0.03,-0.01,-0.03,-0.01,0.03,-0.01,-0.04,-0.03,-0.01,-0.01,0.05
SalePrice,-0.02,1.00,-0.02,0.12,0.12,0.98,0.02,0.14,0.68,0.29,0.52,0.32,0.66,0.08,0.09,-0.01,0.79,0.81,-0.02,0.04
PropertyID,0.99,-0.02,1.00,-0.02,-0.02,-0.02,-0.01,-0.11,-0.02,-0.03,-0.01,-0.03,-0.01,0.03,-0.01,-0.04,-0.03,-0.02,-0.01,0.05
zhvi_px,-0.02,0.12,-0.02,1.00,1.00,-0.03,0.02,-0.00,-0.01,0.02,-0.03,0.00,-0.04,-0.06,0.01,0.01,-0.00,-0.02,0.09,-0.02
zhvi_idx,-0.02,0.12,-0.02,1.00,1.00,-0.03,0.02,-0.00,-0.01,0.02,-0.03,0.00,-0.04,-0.06,0.01,0.01,-0.00,-0.02,0.09,-0.02
AdjSalePrice,-0.02,0.98,-0.02,-0.03,-0.03,1.00,0.02,0.14,0.69,0.29,0.52,0.32,0.67,0.08,0.09,-0.02,0.80,0.82,-0.03,0.04
NbrLivingUnits,-0.02,0.02,-0.01,0.02,0.02,0.02,1.00,-0.00,0.05,0.06,0.10,0.16,-0.05,-0.11,0.01,0.08,0.03,-0.00,0.04,-0.05
SqFtLot,-0.11,0.14,-0.11,-0.00,-0.00,0.14,-0.00,1.00,0.21,0.05,0.10,0.08,0.14,0.03,0.01,-0.01,0.08,0.11,0.06,-0.09
SqFtTotLiving,-0.02,0.68,-0.02,-0.01,-0.01,0.69,0.05,0.21,1.00,0.39,0.75,0.62,0.76,0.30,0.05,-0.07,0.47,0.76,-0.10,0.11
SqFtFinBasement,-0.03,0.29,-0.03,0.02,0.02,0.29,0.06,0.05,0.39,1.00,0.26,0.30,0.14,-0.22,0.11,0.05,0.29,0.28,0.10,-0.14
Bathrooms,-0.01,0.52,-0.01,-0.03,-0.03,0.52,0.10,0.10,0.75,0.26,1.00,0.53,0.66,0.49,0.04,-0.06,0.30,0.63,-0.23,0.24
Bedrooms,-0.03,0.32,-0.03,0.00,0.00,0.32,0.16,0.08,0.62,0.30,0.53,1.00,0.37,0.14,0.04,-0.05,0.22,0.36,-0.03,0.02
BldgGrade,-0.01,0.66,-0.01,-0.04,-0.04,0.67,-0.05,0.14,0.76,0.14,0.66,0.37,1.00,0.44,0.00,-0.06,0.45,0.76,-0.20,0.20
YrBuilt,0.03,0.08,0.03,-0.06,-0.06,0.08,-0.11,0.03,0.30,-0.22,0.49,0.14,0.44,1.00,-0.26,-0.12,-0.13,0.22,-0.43,0.48
YrRenovated,-0.01,0.09,-0.01,0.01,0.01,0.09,0.01,0.01,0.05,0.11,0.04,0.04,0.00,-0.26,1.00,0.02,0.13,0.09,0.09,-0.10
TrafficNoise,-0.04,-0.01,-0.04,0.01,0.01,-0.02,0.08,-0.01,-0.07,0.05,-0.06,-0.05,-0.06,-0.12,0.02,1.00,-0.00,-0.01,0.00,-0.03
LandVal,-0.03,0.79,-0.03,-0.00,-0.00,0.80,0.03,0.08,0.47,0.29,0.30,0.22,0.45,-0.13,0.13,-0.00,1.00,0.57,0.08,-0.12
ImpsVal,-0.01,0.81,-0.02,-0.02,-0.02,0.82,-0.00,0.11,0.76,0.28,0.63,0.36,0.76,0.22,0.09,-0.01,0.57,1.00,-0.16,0.13
ZipCode,-0.01,-0.02,-0.01,0.09,0.09,-0.03,0.04,0.06,-0.10,0.10,-0.23,-0.03,-0.20,-0.43,0.09,0.00,0.08,-0.16,1.00,-0.53
NewConstruction,0.05,0.04,0.05,-0.02,-0.02,0.04,-0.05,-0.09,0.11,-0.14,0.24,0.02,0.20,0.48,-0.10,-0.03,-0.12,0.13,-0.53,1.00

## Step 3 - Shape Data
Wow! That's a lot of columns.  Maybe we should foucs on just a few of them.

**=> Select only "SalePrice", "Bedrooms", "Bathrooms", "SqFtTotLiving", "SqFtLot"**

In [6]:
## TODO : select columns
## start with : 'Bedrooms', 'Bathrooms', 'SqFtTotLiving', 'SqFtLot'
input_columns= ['Bedrooms', 'Bathrooms', 'SqFtTotLiving', 'SqFtLot']

## TODO : select label column
##  Hint : 'SalePrice'
label_column = ['SalePrice']

house_prices2 = house_prices[input_columns + label_column]
house_prices2

       Bedrooms  Bathrooms  SqFtTotLiving  SqFtLot  SalePrice
0             6       3.00           2400     9373     280000
1             4       3.75           3764    20156    1000000
2             4       1.75           2060    26036     745000
3             5       3.75           3200     8618     425000
4             4       1.75           1720     8620     240000
...         ...        ...            ...      ...        ...
27058         2       1.75           1410     1161     374000
27059         2       1.75           1410     1005     374000
27060         4       1.00           1070    11170     165000
27061         3       2.00           1345     6223     315000
27062         3       1.50            790     4400     465000

[27063 rows x 5 columns]

In [7]:
x = house_prices2[input_columns]
y = house_prices2[label_column]

print ("x.shape = ", x.shape)
print ("y.shape = ", y.shape)

x.shape =  (27063, 4)
y.shape =  (27063, 1)

## Step 4 : Run Regression

In [8]:
from sklearn.linear_model import LinearRegression

##  algo + data --> model
algo = LinearRegression ()
model = algo.fit(x, y)  ## TODO : fit (x,y)
model

LinearRegression()

## Step 5 : Predict

In [9]:
## TODO Predict on 'x'
predictions = model.predict(x)
predictions

array([[429991.82730796],
       [950801.58545232],
       [444361.65533633],
       ...,
       [158195.01064552],
       [316458.05162456],
       [154251.23178651]])

In [10]:
pd.options.display.float_format = '{:,.2f}'.format

a = house_prices2[input_columns  + label_column]
a['predicted_price'] = predictions
a

       Bedrooms  Bathrooms  SqFtTotLiving  SqFtLot  SalePrice  predicted_price
0             6       3.00           2400     9373     280000       429,991.83
1             4       3.75           3764    20156    1000000       950,801.59
2             4       1.75           2060    26036     745000       444,361.66
3             5       3.75           3200     8618     425000       729,743.95
4             4       1.75           1720     8620     240000       351,192.04
...         ...        ...            ...      ...        ...              ...
27058         2       1.75           1410     1161     374000       396,038.84
27059         2       1.75           1410     1005     374000       396,050.47
27060         4       1.00           1070    11170     165000       158,195.01
27061         3       2.00           1345     6223     315000       316,458.05
27062         3       1.50            790     4400     465000       154,251.23

[27063 rows x 6 columns]

## Step 6 : Evaluate

**Q==> Are any coefficients close to zero?  What does that mean?**

**Q==> Also inspect R2 value.  Is it decent?**

In [11]:
## coefficients
import numpy as np
np.set_printoptions(precision=2, suppress=True)

print ("coefficients: " , model.coef_)
print ("intercept : ", model.intercept_)

coefficients:  [[-65211.74  16274.19    277.85     -0.07]]
intercept :  [106303.31]

In [12]:
## print each feature and it's coefficients
coef = pd.DataFrame({"input_column" : input_columns,  
                     "coefficient": model.coef_[0]})
coef

    input_column  coefficient
0       Bedrooms   -65,211.74
1      Bathrooms    16,274.19
2  SqFtTotLiving       277.85
3        SqFtLot        -0.07

In [13]:
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt

## TODO : find R2 by comparing 'y' and 'predictions'
print ("R2 : " , r2_score(y, predictions))

print ("MSE : ", mean_squared_error(y, predictions))
print ("RMSE : ", sqrt(mean_squared_error(y, predictions)) )

R2 :  0.4834822523621969
MSE :  60702204448.74506
RMSE :  246378.1736452015

## Step 7 : Predict on New Data

In [14]:
## Create some of your own data
## Bedrooms : 4,  Bathrooms : 3.5,   SqFtTotLiving : 2000, SqFtLot: 3000
new_data = pd.DataFrame({'Bedrooms' : [5,3,2],
                         'Bathrooms' : [3,2, 1],
                         'SqFtTotLiving' : [4400, 1800, 2000],
                         'SqFtLot' : [10000, 5000, 3000]
             })
new_data

   Bedrooms  Bathrooms  SqFtTotLiving  SqFtLot
0         5          3           4400    10000
1         3          2           1800     5000
2         2          1           2000     3000

In [15]:
new_prediction = model.predict(new_data)
new_prediction

array([[1050852.9 ],
       [ 442970.11],
       [ 547626.41]])

In [16]:
pd.options.display.float_format = '{:,.2f}'.format

new_data['predicted_price'] = new_prediction
new_data

   Bedrooms  Bathrooms  SqFtTotLiving  SqFtLot  predicted_price
0         5          3           4400    10000     1,050,852.90
1         3          2           1800     5000       442,970.11
2         2          1           2000     3000       547,626.41

## Step 8 : Imporove Model Performance
Now that we have done a 'end-to-end' implementation in Regression.  
How ever our accuracy isn't all that great!  

**Q ==> What can we do to improve our model?**

One option is to choose better input columns.  
in Step-3, add more input columns.
For example you can add 'LandVal' to input columns as follows

```python
input_columns= ['Bedrooms', 'Bathrooms', 'SqFtTotLiving', 'SqFtLot', 'LandVal']
```

And then run the notebook again, and see if the accuracy goes up!

### Class Competition

Let's see how high you can bring up the model accuracy, with fewest columns as possible.